body {
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 100;
  height: 100;
  background-color: #f9f7fe;
}

.weather-details {
  display: flex;
  justify-content: space-around;
}
.city-search {
  margin: auto;
  border: none;
  border-radius: 5px;
}
header {
  font-size: 30px;
  text-align: left;
  justify-content: left;
  margin: auto;
}
.weather-data strong {
  color: #dc3545;
}

.city {
  font-size: 16px;
  border-radius: 5px;
  background-color: #f9f7fe;
}
.temperature-unit {
  font-size: 10px;
}
button {
  background-color: #885df1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #f9f7fe;
  color: black;
}
footer {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
